<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find amr_crick_description)/launch/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.01" />
        <arg name="urdf_robot_file" value="$(find amr_crick_description)/urdf/amr_crick.urdf" />
        <arg name="robot_name" value="amr_crick" />
    </include>
</launch>

